@import './styles.scss';

#categoryBlk {
    @include fullScreen('fullWidth');
    &_content {
        @include fullScreen('fullWidth');
        padding: 0 8%;
        margin-top: 20px;
    }
    &-text {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

#articleDM-block {
    @include fullScreen('fullScreen');
    @include positionBlk('positionSS');
    margin-top: 15px;
}

#categoryBlk_content {
    margin-bottom: 15px;
}
