@import './styles.scss';

// <-------- FOOTER -------->
#footer {
    @include fullScreen("fullWidth");
    background-color: $white;
    &-blk {
        @include fullScreen("fullWidth");
    }
    &_nav, &_contents {
        @include fullScreen("fullWidth");
        @include paddingBar("paddingRL");
    }
    &_nav {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
        background-color: #fff;
        border-top: 2px #ed1b24 solid;
        border-bottom: 2px #ed1b24 solid;
    }
    &_list {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSbC");
        margin: 12px 0;
        flex-direction: row;
    }
    &_contents {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
        background-color: antiquewhite;
        flex-direction: column;
        padding: 2% 8%;
    }
    &_title {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
    }
    &_info {
        @include fullScreen("fullWidth");
        // @include positionBlk("positionSbC");
        display: grid;
        justify-content: space-between;
        grid-template-columns: 14% 41% 41%;
        margin-top: 25px;
        &-blk1, &-blk2, &-blk3 {
            @include positionBlk("positionSS");
            flex-direction: column;
            text-align: start;
        }
        &-blk1 {
            // @include fullScreen("fullWidth");
            width: max-content;
            height: auto;
        }
        &-blk2 {
            margin-top: 2%;
        }
        &-blk3 {
            margin-top: 2%;
        }
    }
}

.footer {
    &_title-text {
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    }
    &_title-info {
        font-size: 24px;
        font-weight: 600;    
        color: #000;
        text-transform: uppercase;
    }
    &_contacts{
        &-text {
            font-size: 22px;
        }
        &-textBold {
            font-weight: 600;
        }
    }
    &_warning-text {
        font-size: 22px;
    }
}

.blk1_img-logo {
    width: 11rem;
    margin-bottom: 10px;
}

#name {
    &_eic {
        font-size: 24px;
        font-weight: 500;
        &-blk {
            @include fullScreen("fullWidth");
            @include positionBlk("positionCS");
            flex-direction: column;
        }
        &-title {
            font-size: 20px;
        }
        
    }
}