@import './styles.scss';

// <-------- HEADER -------->
#header {
    @include fullScreen("fullWidth");
    // display: flex;
    // flex-direction: column;
    background-color: $white;
    &_coSe, &_img, &_nav {
        @include fullScreen("fullWidth");
        @include paddingBar("paddingRL");
    }
    &_coSe {
        background-color:$white;
        border-bottom: 2px solid #ed1b24;
        display: flex;
        &-blk {
            @include fullScreen("fullScreen");
            @include positionBlk("positionSbC");
            padding-top: 10px;
            padding-bottom: 10px;
            flex-direction: row;
        }
    }
    &_contacts {
        @include positionBlk("positionCC");
        flex-direction: row;
        column-gap: 35px;
        &-phone, &-email{
            @include positionBlk("positionCC");
            flex-direction: row;
        }
    }
    &_seUser {
        @include positionBlk("positionCC");
        flex-direction: row;
        column-gap: 30px;
    }
    &_search {
        @include positionBlk("positionCC");
        width: 18rem;
        height: 2rem;
        flex-direction: row;
        border: 1.5px #000 solid;
        border-radius: 3px;
        padding-right: 5px;
        &-input {
            @include fullScreen("fullScreen");
            font-size: 16px;
            padding-left: 10px;
            border: none;
            outline: none;
        }
        &-icon i {
            font-size: 18px;
            padding: 3px;
        }
    }
    &_img {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSC");
        @include paddingBar("paddingRL");
    }
    &_nav {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
        background-color: $red;
    }
    &_list {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSbC");
        margin: 18px 0;
        flex-direction: row;
    }
    &_account {
        @include positionBlk("positionCC");
        width: auto;
        height: 2rem;
    }

}

.header {
    &_contact-text {
        font-size: 18px;
        font-weight: 400;
        color: #515151;
    }
    &-logo {
        width: 12rem;
        height: 5rem;
        margin: 25px 0 35px 0;
    }
    &_title-text {
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &_btn-signin {
        @include fullScreen("fullHeight");
        @include positionBlk("positionCC");
        color: $black;
        border: 1.5px #000 solid;
        border-radius: 5px;
        padding: 0 1rem;
        padding-bottom: 3px;
        &:hover {
            color: $white;
            background-color: $red;
            border: 1.5px $red solid;
        }
    }
    &_email-icon, &_phone-icon {
        width: 20px;
        height: auto;
        margin-right: 7px;
        // filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(87%) contrast(90%);
    }
}

