@import '../../App.scss';
@import './styles.scss';

.navigation {
    @include fullScreen("fullWidth");
    @include positionBlk("positionSbC");
    color: #000;
    // font-weight: 600;
    // padding: 0 20px;
    i {
        cursor: pointer;
        // transition: 0.4s;
        // &:hover {
        //     color: $red;
        // }
    }
    .menu {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSbC");
        margin: unset;
        padding: unset;
        font-size: 17px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        padding: 7px 0;
        & > li {
            // padding: 12px 7px;
            a {
                color: #fff;
                // color: $red;
                // transition: 0.4s;
                // &:hover {
                //     color: $primary-color;
                // }
            }
        }
    }
}

#home-icon, #menu-icon {
    font-size: 20px;
    color: #fff;
}

// font-family: "Roboto", sans-serif;
// font-family: "Open Sans", sans-serif;
