@import '../../App.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$white: #fff;
$black: #000;
$red: #ed1b24;

@mixin fullScreen($fullScreen) {
    @if $fullScreen == "fullScreen" {
        width: 100%;
        height: 100%;
    }

    @if $fullScreen == "fullWidth" {
        width: 100%;
        height: auto;
    }

    @if $fullScreen == "fullHeight" {
        width: auto;
        height: 100%;
    }
}

@mixin paddingBar($paddingHome: "paddingRL") {
    padding: 0 8%;
}

@mixin positionBlk($positionBlk) {
    @if $positionBlk == "positionSbC" {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @if $positionBlk == "positionCC" {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @if $positionBlk == "positionSC" {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    @if $positionBlk == "positionCS" {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    @if $positionBlk == "positionSS" {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    @if $positionBlk == "positionEC" {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    @if $positionBlk == "positionCE" {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    @if $positionBlk == "positionEE" {
        display: flex;
        justify-content: end;
        align-items: end;
    }
    
}

// <-------- DATE -------->
.date {
    @include positionBlk("positionCC");
    &_vertical-line {
        width: 1px;
        height: 22px;
        margin: 0 8px 0 10px;
        background-color: #4b4b4b;
    }
}