ul li {
  list-style-type: none;
}

#header {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: #fff;
}
#header_coSe, #header_img, #header_nav {
  padding: 0 8%;
}
#header_coSe {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 2px solid #ed1b24;
}
#header_coSe-blk {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  flex-direction: row;
}
#header_contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 35px;
}
#header_contacts-phone, #header_contacts-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#header_seUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 30px;
}
#header_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 2rem;
  flex-direction: row;
  border: 1.5px #000 solid;
  border-radius: 3px;
  padding-right: 5px;
}
#header_search-input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding-left: 10px;
  border: none;
  outline: none;
}
#header_search-icon i {
  font-size: 18px;
  padding: 3px;
}
#header_img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
#header_nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed1b24;
}
#header_list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
  flex-direction: row;
}
#header_account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2rem;
}

.header_contact-text {
  font-size: 18px;
  font-weight: 400;
  color: #515151;
}
.header-logo {
  width: 12rem;
  height: 5rem;
  margin: 25px 0 35px 0;
}
.header_title-text {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}
.header_btn-signin {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 1.5px #000 solid;
  border-radius: 5px;
  padding: 0 1rem;
  padding-bottom: 3px;
}
.header_btn-signin:hover {
  color: #fff;
  background-color: #ed1b24;
  border: 1.5px #ed1b24 solid;
}
.header_email-icon, .header_phone-icon {
  width: 20px;
  height: auto;
  margin-right: 7px;
}

#footer {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: #fff;
}
#footer_nav, #footer_contents {
  padding: 0 8%;
}
#footer_nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top: 2px #ed1b24 solid;
  border-bottom: 2px #ed1b24 solid;
}
#footer_list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  flex-direction: row;
}
#footer_contents {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  flex-direction: column;
  padding: 2% 8%;
}
#footer_title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer_info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
#footer_info-blk1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.footer_title-text {
  color: #4b4b4b;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer_title-info {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.blk1_img-logo {
  width: 11rem;
  margin-bottom: 10px;
}

#name_eic {
  font-size: 20px;
  font-weight: 500;
}
#name_eic-blk {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#name_eic-title {
  font-size: 20px;
}

.container {
  width: 100vw;
  height: auto;
  background-color: #fff;
}

.row {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.col-8 {
  width: 100%;
  height: 100%;
  padding: 0 8%;
}

.blk1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #eaeaea;
}

/*# sourceMappingURL=styles.css.map */
