$white: #fff;
$black: #000;
$red: #ed1b24;

@mixin fullScreen($fullScreen) {
    @if $fullScreen == "fullScreen" {
        width: 100%;
        height: 100%;
    }

    @if $fullScreen == "fullWidth" {
        width: 100%;
        height: auto;
    }

    @if $fullScreen == "fullHeight" {
        width: auto;
        height: 100%;
    }
}

@mixin paddingBar($paddingHome: "paddingRL") {
    padding: 0 8%;
}

@mixin positionBlk($positionBlk) {
    @if $positionBlk == "positionSbC" {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @if $positionBlk == "positionCC" {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @if $positionBlk == "positionSC" {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    @if $positionBlk == "positionCS" {
        display: flex;
        justify-content: center;
        align-items: start;
    }
    
}

ul li {
    list-style-type: none;
}

// <-------- HEADER -------->
#header {
    width: 100vw;
    height: auto;
    position: relative;
    background-color: $white;
    &_coSe, &_img, &_nav {
        @include paddingBar("paddingRL");
    }
    &_coSe {
        @include fullScreen("fullWidth");
        background-color:$white;
        border-bottom: 2px solid #ed1b24;
        &-blk {
            @include fullScreen("fullScreen");
            @include positionBlk("positionSbC");
            padding: 10px 0;
            flex-direction: row;
        }
    }
    &_contacts {
        @include positionBlk("positionCC");
        flex-direction: row;
        column-gap: 35px;
        &-phone, &-email{
            @include positionBlk("positionCC");
            flex-direction: row;
        }
    }
    &_seUser {
        @include positionBlk("positionCC");
        flex-direction: row;
        column-gap: 30px;
    }
    &_search {
        @include positionBlk("positionCC");
        width: 18rem;
        height: 2rem;
        flex-direction: row;
        border: 1.5px #000 solid;
        border-radius: 3px;
        padding-right: 5px;
        &-input {
            @include fullScreen("fullScreen");
            font-size: 16px;
            padding-left: 10px;
            border: none;
            outline: none;
        }
        &-icon i {
            font-size: 18px;
            padding: 3px;
        }
    }
    &_img {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSC");
    }
    &_nav {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
        background-color: $red;
    }
    &_list {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSbC");
        margin: 18px 0;
        flex-direction: row;
    }
    &_account {
        @include positionBlk("positionCC");
        width: auto;
        height: 2rem;
    }

}

.header {
    &_contact-text {
        font-size: 18px;
        font-weight: 400;
        color: #515151;
    }
    &-logo {
        width: 12rem;
        height: 5rem;
        margin: 25px 0 35px 0;
    }
    &_title-text {
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &_btn-signin {
        @include fullScreen("fullHeight");
        @include positionBlk("positionCC");
        color: $black;
        border: 1.5px #000 solid;
        border-radius: 5px;
        padding: 0 1rem;
        padding-bottom: 3px;
        &:hover {
            color: $white;
            background-color: $red;
            border: 1.5px $red solid;
        }
    }
    &_email-icon, &_phone-icon {
        width: 20px;
        height: auto;
        margin-right: 7px;
        // filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(87%) contrast(90%);
    }
}

// <-------- FOOTER -------->
#footer {
    width: 100vw;
    height: auto;
    position: relative;
    background-color: #fff;
    &_nav, &_contents {
        @include paddingBar("paddingRL");
    }
    &_nav {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
        background-color: #fff;
        border-top: 2px #ed1b24 solid;
        border-bottom: 2px #ed1b24 solid;
    }
    &_list {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSbC");
        margin: 12px 0;
        flex-direction: row;
    }
    &_contents {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
        background-color: antiquewhite;
        flex-direction: column;
        padding: 2% 8%;
    }
    &_title {
        @include fullScreen("fullWidth");
        @include positionBlk("positionCC");
    }
    &_info {
        @include fullScreen("fullWidth");
        @include positionBlk("positionSbC");
        margin-top: 25px;
        &-blk1 {
            @include fullScreen("fullWidth");
            @include positionBlk("positionCS");
            flex-direction: column;
        }
    }
}

.footer {
    &_title-text {
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    }
    &_title-info {
        font-size: 22px;
        font-weight: 600;    
        color: #000;
        text-transform: uppercase;
    }
}

.blk1_img-logo {
    width: 11rem;
    margin-bottom: 10px;
}

#name {
    &_eic {
        font-size: 20px;
        font-weight: 500;
        &-blk {
            @include fullScreen("fullWidth");
            @include positionBlk("positionCS");
            flex-direction: column;
        }
        &-title {
            font-size: 20px;
        }
        
    }
}

// <-------- DATE -------->
.date {
    @include positionBlk("positionCC");
    &_vertical-line {
        width: 1px;
        height: 22px;
        margin: 0 8px 0 10px;
        background-color: #4b4b4b;
    }
}

// <-------- HOME PAGE -------->
.container {
    width: 100vw;
    height: auto;
    background-color: #fff;
    position: relative;
}

.row {
    @include fullScreen("fullScreen");
    background-color: #fff;
}

.col-8 {
    @include fullScreen("fullScreen");
    @include paddingBar("paddingRL");
}

.blk1 {
    @include positionBlk("positionSbC");
    width: 100%;
    height: 2.5rem;
    background-color: #eaeaea;
    padding: 0 2%;
    &_event {
        &-title {
            column-gap: 10px;
        }
        &-text {
            color: $red;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 25px;
        }
    }
}

.blk2 {
    @include fullScreen("fullWidth");
    margin: 10px 0;
}